[Unit]
Description=VFrame Kiosk Player (Chromium, Lite)
After=network-online.target frameapp.service
Wants=network-online.target frameapp.service

[Service]
Type=simple
User=pw
Group=pw
WorkingDirectory=/home/pw/vframe
Environment=HOME=/home/pw
ExecStart=/usr/bin/xinit /home/pw/vframe/scripts/start_kiosk.sh -- :0 -nocursor -nolisten tcp vt1
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
